# Prerequisites
*.d
*.mk

# Object files
*.o
*.o.*
*.ko
*.obj
*.elf
*.src

# Linker output
*.ilk
*.map
*.exp
*.c.d
*.c.i
*.src


# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*

*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# End of https://mrkandreev.name/snippets/gitignore-generator/#C

# Aurix studio specific
.metadata/*
.vscode/*
.ads/*
.settings/*
.history/
*.vsix

# ERIKA out folder. Generated each time during compilation
out/*
erika/*

*.cmm
*.orti
*.i
*.xml
*.mdf
can_erika/ee/erika/inc/ee_oscfg.h
can_erika/.vscode/settings.json
can_erika/ee/erika/inc/ee_oscfg.h
can_erika/ee/erika/osSignature.oil
can_erika/ee/erika/pull/ee_oscfg_h.txt
can_erika/ee/erika/pull/ee_oscfg_mk.txt
can_erika/ee/erika/src/ee_tc_cstart.c
can_erika/ee/out/applSignature.oil
can_erika/ee/out/ee_applcfg.c
can_erika/ee/out/ee_applcfg.h
can_erika/ee/out/makefile
can_erika/ee/erika/inc/ee_oscfg.h
can_erika/ee/erika/osSignature.oil
can_erika/ee/erika/pull/ee_oscfg_h.txt
can_erika/ee/erika/pull/ee_oscfg_mk.txt
can_erika/ee/erika/src/ee_tc_cstart.c
can_erika/ee/out/applSignature.oil
can_erika/ee/out/ee_applcfg.c
can_erika/ee/out/ee_applcfg.h
can_erika/ee/out/makefile
can_erika/ee/out/applSignature.oil
can_erika/ee/out/ee_applcfg.c
can_erika/ee/out/ee_applcfg.h
can_erika/ee/out/ee_declcfg.h
can_erika/ee/out/makefile
